ion-input:last-child {
    text-align: end;
}

ion-input {
    color:dodgerblue;
}

ion-select {
    max-width: 70%;
    padding: 0%;
    padding-right: 10px;
    color: dodgerblue;
}

ion-label{
    padding: 0%;
    min-width: 90px;
}

.length {
    text-align: end;
}