<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="settings"></ion-back-button>
    </ion-buttons>
    <ion-title>Version History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let history of versionHistory; index as i">
    <ion-label>
      <h2>{{history.time | date:'medium'}}</h2>
      <h3>{{history.type}}</h3>
    </ion-label>
    <ion-buttons slot="end">
      <ion-button (click)="openVersion(i)">View</ion-button>
    </ion-buttons>
  </ion-item>
</ion-content>
