<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title style="padding: 0px 80px;">Patient Information</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="edit()">Edit</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="profile">
    <div class="icon">
      <ion-icon name="person-outline"></ion-icon>
    </div>
  </div>

  <div>
    <ion-list class="ion-no-margin">
      <ion-list-header lines="full">
        <ion-label>
          Patient Details
        </ion-label>
        <ion-label></ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Name</ion-label>
        <ion-label>{{userInfo.name}}</ion-label>
      </ion-item>

      <ion-item *ngIf="userInfo.birthDate != 'Not Set'">
        <ion-label>Date of Birth</ion-label>
        <ion-label>{{userInfo.birthDate  | date : 'd MMM y'}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Sex</ion-label>
        <ion-label>{{userInfo.sex}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>NHS Number</ion-label>
        <ion-label>{{userInfo.nhsNumber}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Hospital Number</ion-label>
        <ion-label>{{userInfo.hospitalNumber}}</ion-label>
      </ion-item>
    </ion-list>

    <ion-list class="ion-no-margin">
      <ion-list-header lines="full">
        <ion-label>
          Caregiver
        </ion-label>
        <ion-label></ion-label>
      </ion-list-header>

      <ion-item *ngIf="(userInfo.relation1 != 'Not Set') && (userInfo.r1Name != 'Not Set')">
        <ion-label>{{userInfo.relation1}}</ion-label>
        <ion-label>{{userInfo.r1Name}}</ion-label>
      </ion-item>

      <ion-item *ngIf="(userInfo.relation2 != 'Not Set') && (userInfo.r2Name != 'Not Set')">
        <ion-label>{{userInfo.relation2}}</ion-label>
        <ion-label>{{userInfo.r2Name}}</ion-label>
      </ion-item>
    </ion-list>

    <ion-list class="ion-no-margin">
      <ion-list-header lines="full">
        <ion-label>
          Hospital Details
        </ion-label>
        <ion-label></ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Consultant</ion-label>
        <ion-label>{{userInfo.consultant}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Trust</ion-label>
        <ion-label>{{userInfo.trust}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Emergency Contact</ion-label>
        <ion-label>{{userInfo.emergencyContact}}</ion-label>
      </ion-item>
    </ion-list>

  </div>

  <div style="height: 35px;"></div>


</ion-content>
