<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title style="padding: 0px 80px;">Educational Resources</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>
        Web Pages
      </ion-label>
    </ion-list-header>
    <ion-button color="warning" expand="block" (click)="TracheotomyGOSH()">GOSH Tracheostomy Information</ion-button>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>
        Training Videos
      </ion-label>
    </ion-list-header>
    <ion-button color="warning" expand="block" (click)="TracheotomyVideo()">Video Link</ion-button>
  </ion-list>

</ion-content>
