ion-card-title {
    font-size: 22px;
    margin-top: 8px;
}

ion-card-subtitle {
    font-size: 14px;
    color:dodgerblue;
}

ion-card {
    margin-bottom: -8px;
}

ion-card-header {
    padding-top: 12px;
    padding-bottom: 12px;
}