ion-card-title {
    font-size:medium;
    font-weight: bold;
    color:rgb(255, 90, 0);
}

ion-card-header {
    padding-top: 15px;
    padding-bottom: 10px;
}

ion-card-content{
    padding-top: 0px;
    padding-bottom: 15px;
    color: black;
    //font-size: 14px;
}