ion-input:last-child {
    text-align: end;
}

ion-input {
    color:dodgerblue;
}

ion-icon.arrow {
    position:relative;
    left: -15%;
}

div.profile {
    position: relative;
    width: 100%;
    height: 130px;
}

div.icon {
    width: 100px;
    height: 100px;
    background-color: rgb(240, 180, 120);
    border-radius:50%;
    text-align: center;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, 0);
}

ion-icon.icon {
    font-size: 50px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
  }
