<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
<div>
  <div class="user-profile" routerLink="../patient-info">
    <div class="icon"><ion-icon name="person-outline"></ion-icon></div>
    <div class="text"><b>Patient Information</b></div>
  </div>
</div>

<div>
  <div class="medical-records" routerLink="../medical-record">
    <div class="icon"><ion-icon name="document-text-outline"></ion-icon></div>
    <div class="text"><b>Medical Record</b></div>
  </div>
</div>

<div>
  <div class="appointment" routerLink="../appointments">
    <div class="icon"><ion-icon name="calendar-outline"></ion-icon></div>
    <div class="text"><b>Appointments</b></div>
  </div>
</div>

<div>
  <div class="educational-resources" routerLink="../educational-resources"> 
    <div class="icon"><ion-icon name="globe-outline"></ion-icon></div>
    <div class="text"><b>Educational Resources</b></div>
  </div>
</div>

<div>
  <div class="settings" routerLink="../settings">
    <div class="icon"><ion-icon name="settings-outline"></ion-icon></div>
    <div class="text"><b>Settings</b></div>
  </div>
</div>

</ion-content>